@font-face {
	font-family: "Asylbek Mereke 09+Handel";
	src: url(../fonts/vAsylm09.ttf);
    font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Arial";
	src: Arial;
    font-style: normal;
	font-weight: normal;
}
