@media only screen and (max-width : 1350px) {
    .footer-nav-part{
        margin-right: 40px;
    }
}
@media only screen and (max-width : 1200px) {
    .footer-nav-right{
        float: left;
    }
    .footer-navigation{
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (max-width : 1100px) {
    .header-nav, .header-nav-private{
        text-align: center;
    }
    .header-nav, .header-nav-private{
        margin-right: 0;
        font-size: 15px;
    }
    .header-nav-img{
        width: 100%;
        text-align: center;
    }
    .header-nav-img img{
        display: inline-block !important;
        margin: auto !important;
    }
    .header-line{
        display: none;
    }
    .settings-nav-search:hover{
        width: 300px;
    }
    .settings-nav-search input{
        left: 60px;
    }
    .settings-nav-search:hover input{
        width: 150px;
    }
    .settings-free-personal-cabinet{
        width: 100px;
    }
}
@media only screen and (max-width : 900px) {
    .footer-nav-right{
        float: left;
    }
    #personal-cabinet{
        width: 100%;
        margin-bottom: 50px;
    }
    #personal-cabinet-settings{
        width: 100%;
        min-height: 500px;
    }
    .wrapper-grey{
        display: none;
    }
    .settings-nav-search:hover{
        width: 200px;
    }
     .settings-nav-search input{
        left: 30px;
    }
    .settings-nav-search:hover input{
        width: 100px;
    }
    .wrapper-personal{
        width: 100%;
    }
    .your-comment-main{
        margin-left: 5px;
    }
    .footer-nav-box{
        margin-right: 15px;
    }
}
@media only screen and (max-width : 850px) {
    .footer-nav-part, .footer-nav-main{
        width: 100%;
    }
    .footer-nav-box{
        margin-left: 15px;
        margin-right: 30px;
    }
    .footer-nav-box-left{
        margin-left: 15px;
    }
    .footer-nav-box-right{
        margin-right: 15px;
    }
    .add-commentary-margin{
        margin-left: 55px;
    }
    
}
@media only screen and (max-width : 750px) {
    .settings-free, .settings-free-personal-cabinet, .settings-nav-arrow, .wrapper-add-social, .display-none-750{
        display: none;
    }
    .footer-nav-section{
        text-align: center;
    }
    .settings-nav{
        margin-right: 60px;
        margin-left: 20px;
    }
    #settings{
        background: #e3e3e3;
        text-transform: uppercase;
    }
    #settings a{
        text-decoration: underline;
    }
    header{
        display: none;
    }
    .header-mob{
        display: block;
    }
    .add-post{
        display: none;
    }
    .posts{
        width: 100%;
        margin-left: 0;
    }
    .post{
        width: 95%;
        margin-left: 5%;
    }
    .post-rating, .post-title-save, .post-title-add, .tag-commentaries{
        display: none;
    }
    .rating-like, .rating-dislike{
        float: left;
    }
    .rating-dislike{
        margin-top: 0;
    }
    .rating-dislike{
        margin-top: 5px;
    }
    .post-mob-rating{
        display: block;
    }
    #add-commentary, .add-commentary{
        margin-left: 10px;
    }
    .add-commentary-button{
        display: none;
    }
    #add-commentary-border{
        margin-top: 5px;
    }
    .add-commentary-number{
        font-weight: bold;
        height: 40px;
    }
    .add-commentary-number p{
        margin-top: 10px;
    }
    .add-commentary-margin{
        margin-left: 5px;
    }
    #comments{
        margin-top: 15px;
        margin-left: 5px;
        width: 95%;
    }
    .comments, .comment-main{
        width: 100%;
    }
    .comments{
        margin-left: 0;
    }
    .comment-main{
        margin-left: 15px;
    }
    .your-comment{
        float: left;
        width: 100%;
        margin-left: 0;
    }
    .your-comment-input{
        width: 60%;
        margin-top: 20px;
    }
    .your-commentary{
        width: 60%;
        margin-right: 35px;
    }
    .your-comment-row textarea{
        width: 90%;
    }
    .personal-menu{
        display: none;
    }
    .personal-line{
        height: 0px;
    }
    #personal-cabinet{
        margin-bottom: 0;
    }
    .personal-50{
        width: 50%;
    }
    .extra-main{
        display: block;
    }
    footer{
        display: none;
    }
    .footer-mob{
        display: block;
    }
}
@media only screen and (max-width : 650px) {
    .private-saved-70{
        float: left;
        width: 60%;
}
}
@media only screen and (max-width : 600px) {
    .post-title-save, .post-title-add{
        top: -48px;
    }
    .post-title-save{
        right: -105px;
    }
    .post-title-add{
        right: -75px;
    }
    .your-comment-input{
        width: 60%;
        margin-top: 25px;
    }
    .your-commentary{
        margin-top: 25px;
        width: 60%;
        margin-right: 0;
    }
    .your-commentary-button{
        width: 60%;
        margin-top: 25px;
    }
    .settings-nav{
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 5px;
        width: 50%;
        text-align: center;
    }
    .your-comment-input{
        width: 90%;
    }
    .your-commentary{
        width: 90%;
    }
    .private-settings-option{
        width: 90%;
        margin-top: 35px;
    }
    .private-settings-toggle{
        width: 90%;
        margin-top: 15px;
    }
    
    .private-settings input, .private-settings select{
        width: 90%;
        margin-top: 45px;
    }
    
    .private-password input{
        width: 90%;
        margin-top: 25px;
    }
} 
@media only screen and (max-width : 450px){      
    .settings-nav{
        width: 100%;
    }
    .header-mob-navigation p{
        margin-right: 0;
    }
    .post-mob-rating-left, .post-mob-rating-right{
        width: 100%;
        margin-top: 5px;
    }
}  
@media only screen and (max-width : 350px){
    .header-mob-logo img{
        margin-top: 15px;
    }
}