@-webkit-keyframes pullInDown {
	0% {
		height: 0;
	}

	100% {
		height: 40px;
	}
}
@keyframes pullInDown {
	0% {
		height: 0;
	}

	100% {
		height: 40px;
	}
}
.pullInDown {
	-webkit-animation-name: pullInDown;
	animation-name: pullInDown;
}
@-webkit-keyframes pullInDownButton {
	0% {
		height: 0;
	}

	100% {
		height: 50px;
	}
}
@keyframes pullInDownButton {
	0% {
		height: 0;
	}

	100% {
		height: 50px;
	}
}
.pullInDownButton {
	-webkit-animation-name: pullInDownButton;
	animation-name: pullInDownButton;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}
/* HEADER */
header{
    float: left;
    width: 100%;
}
header a, #settings a{
    color: #766f6f;
    text-decoration: none;
}
.header-navigation{
    float: left;
    /*max-width: 1600px;*/
    width: 90%;
    margin: 40px;
    margin-left: 5%;
}
.header-nav-img{
    float: left;
}
.header-nav-img img{
    height: 100px;
}
.header-line{
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    width: 2px;
    height: 100px;
    background: #c2c2c2;
}
.header-nav, .header-nav-private{
    height: 100px;
    font-weight: bold;
}
.header-nav p, .header-nav-private p{
    margin-top: 30px;
}
.header-nav{
    float: left;
    margin-right: 15px;
}
.header-nav:hover a, .header-nav-private:hover a{
    color: #2b2a2a;
}
.header-nav-private{
    float: right;
    position: relative;
}
/*
.header-nav-private:hover .header-nav-popup{
    display: block;
}
*/
.header-nav p, .header-nav-private p{
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    border: 2px solid #fff;
    transition: .2s ease-in;
}
.header-nav p:hover, .header-nav-private p:hover{
    border-radius: 25px;
    border: 2px solid #766f6f; 
}
.header-nav-popup{
    position: absolute;
    float: left;
    bottom: -320px;
    right: 0;
    width: 200px;
    background: #d7d7d7;
    z-index: 2;
    display: none;
    cursor: pointer;
}
.header-nav-popup-inner{
    float: left;
    width: 100%;
    transition: .2s linear;
}
.header-nav-popup-inner a{
    text-decoration: none;
    color: #2b2a2a;
}
.header-nav-popup-inner span{
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 3px;
}
.header-nav-popup-inner img{
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 3px;
}
.header-nav-popup-inner:hover{
    background: #fff;
}
.header-nav-login-rating{
    float: left;
    width: 150px;
    margin-top: 30px;
    margin-right: 25px;
    text-align: right;
    color: #766f6f;
    cursor: pointer;
}
.header-nav-login{
    float: left;
}
.header-nav-rating{
    float: right;
    width: 150px;
}
.header-nav-login{
    position: relative;
    width: 130px;
}
.header-nav-login-line-1, .header-nav-login-line-2{
    position: absolute;
    width: 10px;
    height: 2px;
    top: 9px;
    background: #766f6f;
    transition: .4s ease-out;
}
.header-nav-login-line-1{
    right: -15px;
    -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.header-nav-login-line-2{
    right: -21px;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.header-mob{
    float: left;
    width: 100%;
    background: #f2b44a;
    display: none;
}
.header-mob-burger, .header-mob-logo, .header-mob-login{
    float: left;
    width: 33%;
    min-height: 80px;
    cursor: pointer;
}
.header-mob-logo{
    width: 34%;
}
.header-mob-logo img{
    display: block;
    width: 100%;
    max-width: 150px;
    margin: auto;
    margin-top: 5px;
}
.header-mob-burger{
    position: relative;
}
.burger-lines{
    position: relative;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    cursor: pointer;
    z-index: 3;
}
.burger-line-1, .burger-line-2, .burger-line-3{
    position: absolute;
    height: 3px;
    width: 40px;
    background: #fff;
    left: 20px;
    transition: .5s linear;
}
.burger-line-1{
    top: 22px;
}
.burger-line-2{
    top: 36px;
}
.burger-line-3{
    top: 50px;
}
.burger-animated .burger-line-1{
    top: 34px;
    -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.burger-animated .burger-line-2{
    opacity: 0;
}
.burger-animated .burger-line-3{
     top: 34px;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*
.burger-lines:hover .burger-menu{
    display: block;
}
*/
.burger-menu{
    position: absolute;
    float: left;
    top: 80px;
    left: 0;
    
    min-height: 150px;
    width: 170px;
    color: #fff;
    
    background: #f2b44a;
    display: none;
}
.burger-menu a{
    color: #fff;
    text-decoration: none;
}
.burger-nav{
    float: left;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    transition: 0.2s linear;
}
.burger-nav:hover{
    color: #f2b44a;
    background: #fff;
}
.burger-nav p{
    margin: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.header-mob-navigation{
    position: relative;
    float: right;
    color: #fff;
    font-weight: bold;
}
.header-mob-navigation a{
    color: #fff;
}
.header-mob-navigation p{
    margin-top: 30px;
    margin-right: 20px;
}
.header-mob-popup{
    position: absolute;
    float: left;
    top: 80px;
    right: 0;
    width: 200px;
    background: #d7d7d7;
    display: none;
    z-index: 2;
}
.header-mob-popup a{
    color: #2b2a2a;
}
/*
.header-mob-login:hover .header-mob-popup{
    display: block;
}
*/
.post-mob-rating{
    float: left;
    width: 90%;
    margin-top: 25px;
    margin-left: 40px;
    color: #766f6f;
    display: none;
}
.post-mob-rating-left{
    float: left;
}
.post-mob-rating-right{
    float: right;
}
.post-mob-rating img{
    float: left;
    width: 25px;
    margin-right: 10px;
}
.post-mob-rating span{
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
}
.post-mob-social{
    float: left;
    height: 32px;
    background: #ebebeb;
    margin-right: 5px;
}
.post-mob-social img{
    float: left;
    margin-top: 3px;
    margin-left: 4px;
}
.positive{
    color: #f2b44a;
}
.negative{
    color: #e55151;
}
.header-nav-avatar{
    float: left;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #f2b44a;
    margin-top: 25px;
    overflow: hidden;
    cursor: pointer;
}
.header-nav-avatar img{
    position: absolute;
    
    width: 50px;
    top: 0;
    left: 0;
}
.header-nav-messages-circle{
    position: absolute;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: -10px;
    right: -100px;
    background: #4b2e3b;
    color: #fff;
    font-size: 10px;
    z-index: 3;
}
.header-nav-messages-circle span{
    display: block;
    text-align: center;
    line-height: 20px;
}
#settings{
    float: left;
    width: 100%;
    border-top: 2px solid #c2c2c2;
    border-bottom: 2px solid #c2c2c2;
}
.settings-inner{
    float: left;
    width: 95%;
    margin-left: 5%;
}
.settings-inner-inside{
    float: left;
    position: relative;
    width: 100%;
}
.settings-free{
    float: left;
    width: 200px;
    height: 15px;
}
.settings-free-personal-cabinet{
    float: left;
    width: 265px;/* 265px */
    height: 50px;
}
.settings-free-inside{
    float: left;
    width: 181px;
    height: 100px;
}
.settings-nav{
    float: left;
    margin-top: 15px;
    margin-right: 40px;
    cursor: pointer;
    color: #766f6f;
    
}
.settings-nav a:hover{
    color: #2b2a2a !important;
}
.settings-nav-search{
    float: right;
    position: relative;
    width: 80px;
    height: 50px;
    border-radius: 100px 0 0 100px;
    background: #c2c2c2;
    transition: 0.5s ease-in;
}
.settings-nav-search input{
    position: absolute;
    top: 15px;
    left: 80px;
    width: 0px;
    font-size: 20px;
    font-family: "Arial", Helvetica, sans-serif;
    border: none;
    outline: none;
    border-bottom: 2px solid #766f6f;
    background: #c2c2c2;
    transition: 0.5s ease-in;
    display: none;
}
.settings-nav-search:hover{
    width: 500px;
}
.settings-nav-search:hover input{
    width: 300px;
    display: block;
}
.settings-nav-search img{
    position: absolute;
    top: 10px;
    right: 35px;
    cursor: pointer;
}
.settings-nav-search-hover{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #f2b44a;
    right: 30px;
    top: 5px;
    display: none;
    transition: 1s linear;
}
.settings-nav-search-hover img{
    position: absolute;
    top: 5px;
    left: 5px;
}
.settings-nav-search-normal:hover .settings-nav-search-hover{
    display: block;
}
.settings-nav-arrow{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 50px;
    border-radius: 0 50% 50% 0;
    background: #c2c2c2;
    transition: .4s ease-out;
    overflow: hidden;
}
.settings-nav-arrow-line-1, .settings-nav-arrow-line-2, .settings-nav-arrow-line-3{
    position: absolute;
    width: 25px;
    height: 2px;
    left: 10px;
    background: #766f6f;
    transition: .4s ease-out;
}
.settings-nav-arrow-line-1{
    top: 33px;
    -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.settings-nav-arrow-line-2{
    top: 17px;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.settings-nav-arrow-line-3{
    top: 125px;
    left: 0;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
    transform: rotate(-445deg);
}
.settings-nav-arrow:hover{
    border-radius: 0 35% 35% 0;
    width: 70px;
}
.settings-nav-arrow:hover .settings-nav-arrow-line-1{
    -webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
    transform: rotate(225deg);
}
.settings-nav-arrow:hover .settings-nav-arrow-line-2{
    -webkit-transform: rotate(-225deg);
	-moz-transform: rotate(-225deg);
	-ms-transform: rotate(-225deg);
	-o-transform: rotate(-225deg);
    transform: rotate(-225deg);
}
.settings-nav-arrow:hover .settings-nav-arrow-line-3{
    top: 49.5px;
    left: 18px;
    width: 35px;
    -webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.nav-active, .nav-active a, .nav-active a{
    color: #2b2a2a !important;
}
/* MAIN */
.wrapper{
    float: left;
    width: 90%;
    /*max-width: 1600px;*/
    margin-left: 5%;
    color: #766f6f;
}
.wrapper-add{
    float: left;
    width: 100%;
    position: relative;
}
.wrapper-personal .wrapper-add .add-post{
    margin-left: 5%;
}
.add-post{
    float: left;
    position: relative;
    height: 50px;
    width: 50px;

    color: #fff;
    font-size: 25px;
    font-weight: 100;
    background: #f2b44a;
    cursor: pointer;
    overflow: hidden;
}
.animated-line-1, .animated-line-2, .animated-line-3, .animated-line-4, .animated-line-5 {
    position: absolute;
    background: #fff;
    transition: .35s ease-out;
}
.animated-line-2{
    transition: .45s ease-out;
}
.animated-line-3{
    transition: .65s ease-out;
}
.animated-line-4{
    transition: .55s ease-out;
}
.animated-line-5{
    transition: .45s ease-out;
}
.animated-line-1{
    height: 2px;
    width: 25px;
    
    top: 25px;
    left: 13px;
}
.animated-line-2{
    height: 25px;
    width: 2px;
    
    top: 13px;
    left: 24px;
}
.animated-line-3{
    height: 2px;
    width: 25px;
    
    top: 25px;
    left: -75px;
}
.animated-line-4{
    height: 13px;
    width: 2px;
    
    top: -25px;
    left: -25px;
    -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.animated-line-5{
    height: 13px;
    width: 2px;
    
    top: 75px;
    left: -25px;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.a-add-post:hover .animated-line-1{
    top: 25px;
    left: 75px;
}
.a-add-post:hover .animated-line-2{
    top: -50px;
    left: 24px;
}
.a-add-post:hover .animated-line-3{
    top: 25px;
    left: 13px;
}
.a-add-post:hover .animated-line-4{
    top: 24px;
    left: 32px;
}
.a-add-post:hover .animated-line-5{
    top: 15px;
    left: 32px;
}
.add-post img{
    margin-top: 10px;
    margin-left: 10px;
}
.add-post-text{
    float: left;
    color: #f2b44a;
    cursor: pointer;
    display: none;
}
.add-post-text p{
    margin-top: 12px;
    margin-left: 10px;
}
.a-add-post:hover + .add-post-text{
    display: block;
}
.wrapper-add-social{
    position: absolute;
    top: 200px;
    width: 50px;
    height: 200px;
    background: #ebebeb;
}
.wrapper-add-social-inside{
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    background: #ebebeb;
    z-index: 3;
}
.wrapper-add-social-inside:hover >img{
    display: none;
}
.wrapper-add-social-inside-hover{
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 50px;
    color: #fff;
    background: #f2b44a;
    display: none;
}
.wrapper-add-social-inside-hover span{
    position: absolute;
    top: 13px;
    right: 15px;
}
.wrapper-add-social-inside:hover .wrapper-add-social-inside-hover{
    display: block;
}
.wrapper-add-social img{
    float: left;
    width: 20px;
    margin-left: 15px;
    margin-top: 15px;
}

.wrapper-add-content{
    position: absolute;
    top: 75px;
    width: 50px;
    height: 150px;
    background: #f2b44a;
}
.wrapper-add-content-inside{
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    background: #f2b44a;
    z-index: 3;
}
.wrapper-add-content-inside-hover{
    position: relative;
    top: 0;
    left: 50px;
    width: 150px;
    height: 50px;
    color: #f2b44a;
    display: none;
}
.wrapper-add-content-inside-hover span{
    position: absolute;
    top: 13px;
    right: 15px;
}
.wrapper-add-content-inside:hover .wrapper-add-content-inside-hover{
    display: block;
}
.wrapper-add-content img{
    float: left;
    width: 20px;
    margin-left: 15px;
    margin-top: 15px;
}


.wrapper-grey{
    float: right;
    width: 67%;
    height: 50px;
    background: #ebebeb;
}
.posts{
    float: left;
    width: 70%;
    margin-left: 15%;
}
.post{
    float: left;
    position: relative;
    width: 100%;
    margin-top: 55px;
    margin-left: 70px;
    margin-bottom: 105px;
}
.post-rating{
    position: absolute;
    width: 70px;
    height: 250px;
    top: 0px;
    left: -75px;
    /*overflow: hidden;*/
}
.rating-like, .rating-dislike{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.rating-like-hover, .rating-dislike-hover{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f2b44a;
    display: none;
    cursor: pointer;
}
.rating-like img, .rating-dislike img{
    width: 20px;
    margin-left: 2px;
    cursor: pointer;
}
.rating-dislike{
    margin-top: 15px;
}
.rating-like:hover .rating-like-hover, .rating-dislike:hover .rating-dislike-hover{
    display: block;
}
.rating-like:hover .rating-like-hide img, .rating-dislike:hover .rating-dislike-hide img{
    display: none;
}
.rated-post .rating-like-hover, .rated-post .rating-dislike-hover{
    display: block;
}
.rated-post .rating-like-hide img, .rated-post .rating-dislike-hide img{
    display: none;
}
.rating-number{
    width: 20px;
    margin-top: 40px;
    -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-weight: 600;
}
.rating-checkbox{
    width: 20px;
    margin-top: 40px;
    -webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rating-checkbox-magic{
    position: fixed;
    top: 20px;
}
.rating-checkbox-main{
    position: absolute !important;
}
/* The switch - the box around the slider */
.switch-checkbox {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
/* Hide default HTML checkbox */
.switch-checkbox input {display:none;}
/* The slider */
.slider-checkbox {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    font: 18px/26px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 5;
}
.slider-checkbox:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: -2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #787171;
}
input:checked + .slider-checkbox {
    background-color: #f2b44a;;
}
input:focus + .slider-checkbox {
    box-shadow: 0 0 1px #f2b44a;;
}
input:checked + .slider-checkbox:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider-checkbox.round {
    border-radius: 34px;
}
.slider-checkbox.round:before {
    border-radius: 50%;
}
.slider-checkbox img{
    width: 10px;
    margin-left: 9px;
    margin-bottom: 2px;
}
.post-title{
    float: left;
    width: 70%;
    position: relative;
}
.post-title-border{
    position: absolute;
    width: 10px;
    height: 40px;
    top: 5px;
    left: -10px;
    background: #f2b44a;
}
.post-title h1{
    float: left;
    width: 100%;
    margin-left: 15px;
    color: #f2b44a;
    font-weight: 100;
    padding-left: 20px;
    text-align: left;
}
.post-title img{
    height: 20px;
}
.post-title-save, .post-title-add{
    position: absolute;
    top: 0;
    cursor: pointer;
}
.post-title-save{
    right: -85px;
}
.post-title-add{
    right: -50px;
}
.post-tags, .post-activities{
    float: left;
    width: 80%;
    
    margin-left: 40px;
    font-size: 14px;
    line-height: 30px;
}
.post-tags{
    font-weight: 600;
}
.tag{
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    color: #918c8c;
    background: #e1e1e1;
    border-radius: 15px;
    cursor: pointer;
    
}
.tag-commentaries, .tag-activity{
    float: left;
    margin-right: 15px;
    text-decoration: underline;
    color: #766f6f;
    cursor: pointer;
}
.post-content{
    float: left;
    width: 80%;
    
    margin: 40px 0 10px 40px;
    font-size: 16px;
}
.post-content-img img{
    float: left;
    margin-top: 30px;
    max-width: 100%;
}
.post-end-magic{
    float: left;
    width: 80%;
    height: 10px;
}
.post-start-magic{
    float: left;
    width: 80%;
    height: 10px;
}
.post-more{
    float: left;
    width: 100%;
}
.post-more-button:hover+.post-more-text{
    display: block;
}
.post-more-button{
    float: left;
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 50px;

    color: #fff;
    font-size: 25px;
    font-weight: 100;
    background: #f2b44a;
    cursor: pointer;
}
.post-more-circle-1, .post-more-circle-2, .post-more-circle-3{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    transition: .35s linear;
}
.post-more-circle-1{
    top: 23px;
    left: 15px;
}
.post-more-circle-2{
    top: 23px;
    left: 23px;
}
.post-more-circle-3{
    top: 23px;
    left: 31px;
}
.post-more-button:hover .post-more-circle-1{
    left: 65px;
}
.post-more-button:hover .post-more-circle-2{
    left: 175px;
}
.post-more-button:hover .post-more-circle-3{
    left: 385px;
}
.post-more-line-1, .post-more-line-2, .post-more-line-3 {
    position: absolute;
    background: #fff;
    transition: .6s ease-out;
}
.post-more-line-2{
    transition: .8s ease-in;
}
.post-more-line-1{
    height: 2px;
    width: 25px;
    
    top: 25px;
    left: -75px;
    -webkit-transform: rotate(720deg);
	-moz-transform: rotate(720deg);
	-ms-transform: rotate(720deg);
	-o-transform: rotate(720deg);
    transform: rotate(720deg);
}
.post-more-line-2{
    height: 20px;
    width: 2px;
    
    top: -25px;
    left: -25px;
    -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.post-more-line-3{
    height: 20px;
    width: 2px;
    
    top: 75px;
    left: -25px;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.post-more-button:hover .post-more-line-1{
    top: 25px;
    left: 13px;
    -webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.post-more-button:hover .post-more-line-2{
    top: 16px;
    left: 31px;
}
.post-more-button:hover .post-more-line-3{
    top: 16px;
    left: 18px;
}
.post-more-text{
    float: left;
    color: #f2b44a;
    cursor: pointer;
    text-transform: lowercase;
    display: none;
}
.post-more-text p{
    margin-top: 12px;
    margin-left: 10px;
}
/* inside-post */
#add-commentary-border{
    margin-top: 75px;
    float: left;
    width: 100%;
    border-top: 2px solid #c2c2c2;
    border-bottom: 2px solid #c2c2c2;
}
#add-commentary{
    float: left;
    width: 90%;
    margin-left: 5%;
}
.add-commentary{
    float: left;
    width: 70%;
    margin-left: 15%;
}
.add-commentary-margin{
    margin-left: 110px;
}
.add-commentary-number{
    float: left;
    text-transform: uppercase;
    color: #2b2a2a;
    height: 100px;
}
.add-commentary-number p{
    margin-top: 40px;
    font-weight: bold;
}
.add-commentary-button{
    float: right;
    color: #f2b44a;
    margin-top: 30px;
    padding:  5px 25px 5px 25px;
    border: 2px solid #f2b44a;
    border-radius: 25px;
    cursor: pointer;
}
#comments{
    margin-top: 75px;
    float: left;
    width: 90%;
    margin-left: 5%;
    color: #766f6f;
}
.comments{
    float: left;
    width: 70%;
    margin-left: 15%;
}
.comment-main{
    margin-left: 50px;
    float: left;
    width: 95%;
    min-width: 200px;
}
.comment-rating{
    float: left;
    width: 100px;
}
.comment-rating span{
    float: left;
}

.comment-rating-like img, .comment-rating-dislike img{
    float: left;
    width: 20px;
    cursor: pointer;
    margin: 0 0 0 7px;
}
.comment-rating-like-active img, .comment-rating-dislike-active img{
    display: none;
}
.rated-comment .comment-rating-like-active img, .rated-comment .comment-rating-dislike-active img{
    display: block;
}
.rated-comment>img, .rated-comment>img{
    display: none;
}

.comment{
    float: left;
    width: 100%;
}
.comment-row, .comment-send, .comment-text{
    float: left;
    width: 100%;
}
.comment-send textarea{
    float: left;
    color: #766f6f;
    height: 100px;
    max-width: 50%;
    width: 50%;
    font-size: 14px;
    outline: none;
    margin-right: 50%;
    font-family: "Arial", Helvetica, sans-serif;
}
.comment-send-answer{
    float: left;
}
.comment-send-cancel, .comment-send-main{
    float: left;
    width: 70%;
    display: none;
}
.comment-send-active .comment-send-cancel, .comment-send-active .comment-send-main{
    display: block;
}
.comment-send-active .comment-send-answer{
    display: none;
}
.comment-send-button{
    float: left;
    border-bottom: 2px solid #c2c2c2;
}
.comment-send-button{
    width: 100px;
    margin-top: 25px;
    color: #f2b44a;
    border: 2px solid #f2b44a;
    border-radius: 25px;
    text-align: center;
    height: 35px;
    cursor: pointer;
}
.comment-send-button-fill{
    background: -webkit-linear-gradient(bottom, #fff 50%, #f2b44a 50%);
    background: -o-linear-gradient(bottom, #fff 50%, #f2b44a 50%);
    background: linear-gradient(to top, #fff 50%, #f2b44a 50%);
    background-size: 100% 200%;
    background-position:bottom;
    margin-left:10px;
    transition:all .3s ease-in;
}
.comment-send-button-fill:hover {
    background-position:top;
    color: #fff;
}
.comment-add-button-fill{
    background: -webkit-linear-gradient(bottom, #fff 50%, #c2c2c2 50%);
    background: -o-linear-gradient(bottom, #fff 50%, #c2c2c2 50%);
    background: linear-gradient(to top, #fff 50%, #c2c2c2 50%);
    background-size: 100% 200%;
    background-position:bottom;
    margin-left:10px;
    transition:all .3s ease-in;
}
.comment-add-button-fill:hover {
    background-position:top;
    color: #fff;
}
.comment-nickname{
    float: left;
    color: #2b2a2a;
    font-weight: bold;
}
.comment-time{
    float: left;
    margin-left: 25px;
}
.comment-text{
    margin-top: 25px;
}
.comment-send{
    margin-top: 25px;
    text-decoration: underline;
    color: #f2b44a;
    cursor: pointer;
    margin-bottom: 25px;
}
.comment-spoiler{
    float: left;
    width: 100%;
    border-left: 2px solid #c2c2c2;
}
.button-spoiler{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #c2c2c2;
    background: #fff;
    font-size: 17px;
    border: 1px solid #c2c2c2; 
    margin-left: -9px;
}
.button-spoiler:hover{
    background: #c2c2c2;
    color: #fff; 
}
.classPlus{
    display: none;
}
.classPlus{
    margin-left: -2px;
}
#your-comment{
    margin-top: 75px;
    margin-bottom: 175px;
    float: left;
    width: 100%;
    margin-left: 5%;
    color: #766f6f;
}
.your-comment{
    float: left;
    width: 100%;
    margin-left: 15%;
}
.your-comment-main{
    margin-left: 110px;
    float: left;
    width: 100%;
}
.your-comment-row{
    float: left;
    width: 80%;
    margin-top: 30px;
}
.your-comment-row h1{
    color: #2b2a2a;
    text-align: left;
    font-size: 20px;
}
.your-comment-row textarea{
    float: left;
    color: #766f6f;
    height: 100px; 
    width: 50%;
    max-width: 50%;
    font-size: 14px;
    outline: none;
    margin-right: 50%;
    font-family: "Arial", Helvetica, sans-serif;
}
.your-comment-row input{
    float: left;
    color: #766f6f;
    font-size: 18px;
    border: none;
    outline: none;
    margin-right: 10%;
    font-family: "Arial", Helvetica, sans-serif;
    width: 100%;
}
.your-comment-input,.your-commentary,.your-commentary-button{
    float: left;
    border-bottom: 2px solid #c2c2c2;
}
.your-comment-input{
    width: 30%;
    margin-right: 35px;
}
.your-commentary{
    margin-top: 10px;
    width: 40%;
    margin-right: 35px;
}
.your-commentary-button{
    width: 150px;
    margin-top: 25px;
    color: #f2b44a;
    border: 2px solid #f2b44a;
    border-radius: 25px;
    text-align: center;
    height: 35px;
    cursor: pointer;
}
.commentary-button-fill{
    background: -webkit-linear-gradient(bottom, #fff 50%, #f2b44a 50%);
    background: -o-linear-gradient(bottom, #fff 50%, #f2b44a 50%);
    background: linear-gradient(to top, #fff 50%, #f2b44a 50%);
    background-size: 100% 200%;
    background-position:bottom;
    margin-left:10px;
    transition:all .3s ease-in;
}
.commentary-button-fill:hover {
    background-position:top;
    color: #fff;
}
/* personal-cabinet */
.wrapper-personal{
    float: left;
    width: 100%;
    /*max-width: 1600px;*/
    color: #766f6f;
}
.personal-cabinet{
    color: #2b2a2a;
    background: #ebebeb; 
}
#personal-cabinet{
    float: left;
    width: 33%;
    min-width: 200px;
}
#personal-cabinet-settings{
    float: left;
    width: 67%;
    background: #ebebeb; 
    min-height: 1600px;
}
/* ~~~~~ НАСТРОЙКИ ~~~~~*/
#private-settings{
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
}
.private-settings{
    float: left;
    width: 100%;
}
.private-settings input{
    float: left;
    color: #766f6f;
    font-size: 18px;
    border: none;
    outline: none;
    margin-right: 10%;
    font-family: "Arial", Helvetica, sans-serif;
    border-bottom: 2px solid #c2c2c2;
    background: #ebebeb;
    width: 40%;
}
.private-settings-gender{
    margin-top: 50px;
}
.private-settings-button{
    float: left;
    margin-top: 50px;
    padding: 10px 75px 10px 75px;
    border-radius: 25px;
    border: 2px solid #2b2a2a;
    cursor: pointer;
    color: #2b2a2a;
}
.button-fill{
    background: -webkit-linear-gradient(bottom, #ebebeb 50%, #2b2a2a 50%);
    background: -o-linear-gradient(bottom, #ebebeb 50%, #2b2a2a 50%);
    background: linear-gradient(to top, #ebebeb 50%, #2b2a2a 50%);
    background-size: 100% 200%;
    background-position:bottom;
    margin-left:10px;
    transition:all .3s ease-in;
}
.button-fill:hover {
    background-position:top;
    color: #ebebeb;
}
.private-settings-options{
    float: left;
    width: 100%;
    margin-top: 50px;
}
.private-settings-option, .private-settings-toggle{
    float: left;
    margin-top: 25px;
    font-size: 14px;
}
.private-settings-option{
    width: 65%;
}
.private-settings-toggle{
    width: 30%;
}
.private-settings select{
    float: left;
    color: #766f6f;
    font-size: 18px;
    border: none;
    outline: none;
    margin-right: 10%;
    font-family: "Arial", Helvetica, sans-serif;
    border-bottom: 2px solid #c2c2c2;
    background: #ebebeb;
    width: 40%;
}
.private-settings p{
    font-family: "Arial", Helvetica, sans-serif !important;
}
.private-password{
    float: left;
    width: 100%;
    margin-top: 75px;
}
.private-password p{
    font-size: 22px;
    color: #2b2a2a;
    margin-bottom: 25px;
}
.private-password input{
    float: left;
    color: #766f6f;
    font-size: 18px;
    border: none;
    outline: none;
    margin-right: 10%;
    font-family: "Arial", Helvetica, sans-serif;
    border-bottom: 2px solid #c2c2c2;
    background: #ebebeb;
    width: 40%;
}
.private-password-button{
    float: left;
    color: #2b2a2a;
    margin-top: 50px;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
    border: 2px solid #2b2a2a;
    cursor: pointer;
}
.private-logout{
    float: left;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 100px;
}
.private-logout p{
    font-size: 22px;
    color: #2b2a2a;
    margin-bottom: 25px;
}
.private-logout-button{
    float: left;
    color: #2b2a2a;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
    border: 2px solid #2b2a2a;
    cursor: pointer;
}
.private-nav-part{
    float: left;
    position: relative;
    width: 100%;
    margin-top: 75px;
}
.private-margin a{
    color: #766f6f
}
.private-margin:hover a{
    color: #f2b44a;
}
.private-nav-part p{
    font-size: 22px;
    color: #2b2a2a;
    margin-bottom: 25px;
}
/* ~~~~~ ПОСТЫ ~~~~~*/
#private-posts{
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
}
.private-posts-title{
    float: left;
    width: 100%;
    text-align: center;
}
/* ~~~~~ КОММЕНТАРИИ ~~~~~*/
#private-comments{
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
}
.private-comments{
    float: left;
    width: 100%;
}
.private-comments input{
    float: left;
    color: #766f6f;
    font-size: 18px;
    border: none;
    outline: none;
    margin-right: 10%;
    font-family: "Arial", Helvetica, sans-serif;
    border-bottom: 2px solid #c2c2c2;
    background: #ebebeb;
    width: 80%;
}
.private-comments-search{
    float: left;
    color: #2b2a2a;
    margin-top: 50px;
    padding: 10px 45px 10px 45px;
    border-radius: 25px;
    border: 2px solid #2b2a2a;
    cursor: pointer;
}
/* ~~~~~ СООБЩЕНИЯ ~~~~~*/
#private-messages{
    float: left;
    width: 90%;
    margin-left: 10%;
    margin-top: 25px;
}
.private-messages{
    float: left;
    width: 100%;
}
.private-messages input{
    float: left;
    color: #766f6f;
    font-size: 18px;
    border: none;
    outline: none;
    margin-right: 10%;
    font-family: "Arial", Helvetica, sans-serif;
    width: 100%;
    border-bottom: 2px solid #c2c2c2;
    background: #ebebeb;
    width: 80%;
}
.private-messages-search{
    float: left;
    color: #2b2a2a;
    margin-top: 50px;
    padding: 10px 45px 10px 45px;
    border-radius: 25px;
    border: 2px solid #2b2a2a;
    cursor: pointer;
}
/* ~~~~~~ ЗАМЕТКИ ~~~~~~ */
#private-notes{
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
}
.private-notes{
    float: left;
    width: 100%;
    text-align: center;
}
/* ~~~~~~ ИГНОР ЛИСТ ~~~~~~ */
#private-ignore{
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
}
.private-ignore{
    float: left;
    width: 100%;
    color: #2b2a2a;
}
.private-ignored-users{
    float: left;
    width: 100%;
    height: 300px;
}
.private-ignored-tags{
    float: left;
    width: 100%;
    height: 300px;
}
/* ~~~~~~ СОХРАНЕННОЕ ~~~~~~ */
#private-saved{
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
}
.private-saved{
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
.private-saved-30{
    float: left;
    width: 50px;
}
.private-saved-70{
    float: left;
    width: 80%;
    max-width: 1200px;
}
/*
.private-saved input{
    float: left;
    height: 25px;
    width: 25px;
    
    margin-right: 25px;
    margin-top: 10px;
}
*/
.private-saved-checkbox input[type="checkbox"] {
    display: none;
}
.private-saved-checkbox label {
    cursor: pointer;
}
.private-saved-checkbox input[type="checkbox"] + label:before {
    float: left;
    border: 1px solid #7f83a2;
    content: "\00a0";
    display: inline-block;
    font: 18px sans-serif;
    margin: 5px 35px 0 0;
    padding: 0;
    vertical-align: top;
    width: 25px;
    height: 25px;
}
.private-saved-checkbox input[type="checkbox"]:checked + label:before {
    background: #f2b44a;
    color: #fff;
    content: "\2713";
    text-align: center;
}
.private-saved-checkbox input[type="checkbox"]:checked + label:after {
    font-weight: bold;
}
.private-saved-number{
    float: left;
    width: 100%;
    margin-top: 20px;
    color: #2b2a2a;
    margin-bottom: 25px;
}    
.private-saved-number span{
    float: right;
}
.add-category{
    float: left;
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 50px;

    color: #fff;
    font-size: 25px;
    font-weight: 100;
    background: #f2b44a;
    cursor: pointer;
}
.add-category-line-1, .add-category-line-2, .add-category-line-3, .add-category-line-4, .add-category-line-5 {
    position: absolute;
    background: #fff;
    transition: .6s ease-out;
}
.add-category-line-1{
    height: 2px;
    width: 25px;
    
    top: 25px;
    left: 13px;
}
.add-category-line-2{
    height: 25px;
    width: 2px;
    
    top: 13px;
    left: 24px;
}
.add-category-line-3{
    height: 2px;
    width: 25px;
    
    top: 25px;
    left: -75px;
    -webkit-transform: rotate(720deg);
	-moz-transform: rotate(720deg);
	-ms-transform: rotate(720deg);
	-o-transform: rotate(720deg);
    transform: rotate(720deg);
}
.add-category-line-4{
    height: 13px;
    width: 2px;
    
    top: -25px;
    left: -25px;
    -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.add-category-line-5{
    height: 13px;
    width: 2px;
    
    top: 75px;
    left: -25px;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.add-category:hover .add-category-line-1{
    top: 25px;
    left: 75px;
}
.add-category:hover .add-category-line-2{
    top: -50px;
    left: 24px;
}
.add-category:hover .add-category-line-3{
    top: 25px;
    left: 13px;
    -webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.add-category:hover .add-category-line-4{
    top: 24px;
    left: 32px;
}
.add-category:hover .add-category-line-5{
    top: 15px;
    left: 32px;
}
.add-category img{
    margin-top: 10px;
    margin-left: 10px;
}
.add-category-text{
    float: left;
    color: #f2b44a;
    cursor: pointer;
    display: none;
}
.add-category-text p{
    margin-top: 12px;
    margin-left: 10px;
}
.add-category:hover + .add-category-text{
    display: block;
}
.personal-photo{
    float: left;
    width: 100%;
    color: #2b2a2a;
    text-align: center;
}
.personal-photo-avatar{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
}
.personal-photo-avatar img{
    position: absolute;
    width: inherit;
    
    bottom: 0;
    left: 0;
}
.personal-change-photo{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 50px;
    background: #f2b44a;
    cursor: pointer;
}
.personal-change-photo img{
    position: absolute;
    bottom: 9px;
    left: 11px;
    height: 21px;
    width: 27px;
    background: #f2b44a;
    cursor: pointer;
}
.personal-change-photo-text{
    position: absolute;
    bottom: 10px;
    left: 60px;
    color: #f2b44a;
    display: none;
}
.personal-change-photo:hover + .personal-change-photo-text{
    display: block;
}
.personal-nickname{
    float: left;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 20px;
}
.personal-rating, .personal-subs{
    float: left;
    width: 49%;
}
.personal-rating span, .personal-subs span{
    font-weight: bold;
    font-size: 25px;
}
.personal-border-line{
    float: left;
    width: 2px;
    height: 40px;
    background: #2b2a2a;
}
.personal-info{
    float: left;
    width: 95%;
    margin-left: 5%;
    margin-top: 50px;
    color: #2b2a2a;
}
.personal-50{
    float: left;
    width: 100%;
}
.personal-margin-left p{
    margin-left: 78px;
}
.personal-info-option{
    float: left;
    width: 100%;
}
#private-add-post{
    float: left;
    position: relative;
    width: 60%;
    margin-left: 20%;
    margin-top: 25px;
}
.private-add-post{
    float: left;
    width: 100%;
    margin-top: 55px;
}
.private-add-post input{
    float: left;
    font-size: 18px;
    outline: none;
    border: none;
    margin-right: 50%;
    margin-top: 75px;
    font-family: "Arial", Helvetica, sans-serif;
    border-bottom: 2px solid #c2c2c2;
    background: #fff;
    width: 50%;
}
.private-add-post input[type="text"]{
    color: #766f6f;
}
.private-add-post input[type="text"]:focus {
  color: #2b2a2a;
  border-bottom: 2px solid #2b2a2a;
}
.private-add-post-line{
    position: absolute;
    width: 8px;
    height: 40px;
    background: #f2b44a;
    top: 45px;
    left: -25px;
}
.private-add-post input:nth-child(3){
    border: 1px solid #c2c2c2;
    padding: 25px;
}
.private-add-post input[type="text"]:nth-child(3):focus {
  color: #2b2a2a;
  border: 2px solid #2b2a2a;
}
.private-add-post-tags{
    border: 1px solid #c2c2c2;
}
.private-add-post input:first-child{
    margin-top: 0;
}
.private-add-post textarea{
    float: left;
    color: #c2c2c2;
    height: 300px;
    width: 80%;
    background: #fff;
    min-width: 200px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    margin-right: 30%;
    margin-top: 55px;
    margin-bottom: 30px;
    font-family: "Arial", Helvetica, sans-serif;
}
.private-add-post-buttons, .private-add-post-buttons-2 {
    float: left;
    width: 50%;
}
.private-add-post-buttons{
    margin-top: 125px;
    margin-bottom: 125px;
}
.private-add-post-buttons-2{
    margin-top: 125px;
    margin-bottom: 125px;
}
.private-add-post-button{
    float: left;
    padding: 10px 25px 10px 25px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid #f2b44a;
    cursor: pointer;
    color: #f2b44a;
}
.private-add-post-grey{
    float: left;
    margin-top: 25px;
    padding: 10px 25px 10px 25px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid #c2c2c2;
    cursor: pointer;
    color: #c2c2c2;
}
.private-add-post-pre{
    float: right;
    color: #f2b44a;
    cursor: pointer;
    text-decoration: underline;
}
.private-add-post-option, .private-add-post-toggle{
    float: left;
    margin-top: 55px;
    font-size: 16px;
}
.private-add-post-option{
    width: 65%;
}
.extra-main{
    float: left;
    position: relative;
    margin-top: 25px;
    width: 150px;
    margin-left: 5%;
    color: #2b2a2a;
    height: 20px;
    cursor: pointer;
    display: none;
}
.extra-main p{
    text-decoration: underline;
}
.extra-main img{
    width: 15px;
    margin: 0 0 2px 5px;
}
.extra-main:hover .extra-navigation{
    display: block;
}
.extra-navigation{
    float: left;
    position: absolute;
    right:0;
    top: 19px;
    background: #fff;
    cursor: pointer;
    z-index: 3;
    display: none;
}
.extra-nav{
    float: left;
    width: 150px;
    padding: 10px;
}
.extra-navigation a{
    color: #2b2a2a;
    text-decoration: none;
}
.extra-nav{
    border-bottom: 2px solid #ebebeb;
}
.extra-nav:hover{
    background: #ebebeb;
}
.personal-line{
    float: left;
    height: 2px;
    width: 100%;
    margin-left: -5%;
    margin-top: 35px;
    background: #c2c2c2;
}
.personal-menu{
    float: left;
    width: 95%;
    margin-left: 5%;
    margin-top: 35px;
    color: #2b2a2a;
    font-size: 15px;
}
.pers-men-nav{
    float: left;
    width: 100%;
}
.personal-menu-nav{
    position: relative;
    float: left;
}
.personal-menu a{
    color: #2b2a2a;
}
.personal-menu-nav:hover{
    cursor: pointer;
    color: #f2b44a;
}
.personal-menu-nav:hover >img{
    visibility: hidden;
}
.personal-menu-nav img{
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 15px;
    margin-top: 15px;
}
.personal-menu-nav p{
    float: left;
    margin-top: 15px;
}
.personal-menu-nav-hover{
    position: absolute;
    float: left;
    height: 25px;
    width: 25px;
    top: 12px;
    left: -3px;
    border-radius: 100%;
    background: #f2b44a;
    display: none;
}
.personal-menu-nav-hover img{
    margin-left: 2.2px;
    margin-top: 2.5px;
}
.personal-menu-nav:hover .personal-menu-nav-hover{
   display: block;
}
/* FOOTER */
footer{
    float: left;
    font-size: 14px;
    float: left;
    width: 100%;
    border-top: 2px solid #c2c2c2;
    color: #f2b44a;
    margin-bottom: 50px;
}
footer a{
    color: #f2b44a;
    text-decoration: none;
}
.footer-navigation{
    float: left;
    /*max-width: 1600px;*/
    width: 95%;
    margin-left: 5%;
}
.footer-navigation img{
    height: 100px;
}
.footer-nav-part{
    float: left;
    width: 20%;
    position: relative;
    margin-top: 50px;
}
.footer-nav-part img{
    display: block !important;
    margin: auto;
    width: 100%;
    max-width: 200px;
}
.footer-nav-main{
    float: left;
    width: 70%;
    margin-top: 50px;
    margin-right: 5%;
}
.footer-nav-line{
    float: left;
    width: 100%;
}
.margin-top-50{
    margin-top: 50px;
}
.footer-nav-box{
    float: left;
    color: #766f6f;
    margin-right: 5%;
    font-size: 16px;
}
.footer-nav-box a{
    text-decoration: none;
    color: #766f6f;
}
.footer-nav-box:hover a{
    color: #2b2a2a;
}
.footer-nav-box-left{
    float: left;
    font-size: 16px;
    color: #f2b44a;
    font-weight: 100;
}
.footer-nav-box-right{
    float: right;
}
.footer-nav-box-right img{
    float: left;
    width: 20px;
    height: 20px;
}
.footer-instagram{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f2b44a;
}
.footer-instagram img{
    margin-top: 3px;
    margin-left: 3px;
}
.footer-instagram-hover{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f2b44a;
    display: none;
}
.footer-instagram-hover img{
    margin-top: 2.6px;
    margin-left: 2.6px;
}
.footer-instagram:hover .footer-instagram-hover{
    display: block;
}
.footer-instagram:hover .footer-instagram img{
    display: none;
}
.footer-nav-title{
    position: absolute;
    width: 100px;
    left: -80px;
    margin-top: 40px;
    font-weight: 600;
    -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-align: right;
}
.footer-nav-float img{
    height: 20px;
    width: 20px;
}
.footer-nav-right{
    float: right;
    width: 200px;
}
.footer-nav-float{
    float: left;
    text-align: center;
}
.footer-margin{
    margin-bottom: 15px;
}
.footer-nav-text{
    float: left;
    margin-top: 2px;
    margin-left: 5px;
}
.footer-nav-social{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.footer-nav-social img{
    margin-top: 3px;
    margin-left: 2px;
}
.footer-nav-social-hover{
    float: left;
    background: #f2b44a;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: none;
}
.footer-nav-social-hover img{
    margin-top: 3px;
    margin-left: 2px;
}
.footer-nav-float:hover .footer-nav-social-hover{
    display: block;
}
.footer-nav-float:hover  .footer-nav-social {
    display: none;
}
/*
.footer-nav-float:not(:hover) .footer-nav-social-hover {
    transition: 0.5s linear;
}
.footer-nav-float:not(:hover) .footer-nav-social {
    transition: 0.5s linear;
}
*/
.private-margin{
    margin-bottom: 15px;
}
.footer-mob{
    float: left;
    width: 100%;
    border-top: 2px solid #c2c2c2;
    text-align: center;
    color: #959090;
    display: none;
}
.footer-mob-nav{
    float: left;
    width: 100%;
    margin-top: 15px;
}
.footer-mob-nav-line{
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    height: 2px;
    background: #c2c2c2;
}
.footer-mob-nav p{
    font-weight: bold;
}
.footer-mob-nav a{
    text-decoration: none;
    color: #959090;
}
.footer-mob-section{
    float: left;
    width: 100%;
}
.footer-mob-nav img{
    width: 150px;
}
.foot-mob-img{
    display: block;
}
.foot-mob-img img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: -5px;
}
.foot-mob-img a{
    color: #f2b44a;
}
.color-orange:before{
    color: #f2b44a;
}
.color-white:before{
    color: #fff;
}


/* AUTH REG*/
.reg-form{
    position: fixed;
    top: 25%;
    left: 40%;
    width: 20%;
    height: 400px;
    border-radius: 25px;
    background: #fff;
    color: #f2b44a;
    z-index: 6;
    display: none;
    overflow: hidden;
}
.reg-form-cancel{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.reg-form-cancel img{
    width: 25px;
}
.reg-form-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    display: none;
}
.reg-form-row{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.reg-form-options{
    margin-top: 55px;
}
.reg-form-row input{
    font-size: 18px;
    outline: none;
    border: none;
    margin-top: 15px;
    font-family: "Arial", Helvetica, sans-serif;
    border-bottom: 2px solid #c2c2c2;
    background: #fff;
    width: 80%;
}
.reg-form-row input[type="text"]{
    color: #766f6f;
}
.reg-form-row input[type="text"]:focus {
  color: #2b2a2a;
  border-bottom: 2px solid #2b2a2a;
}
.reg-form-select{
    padding: 10px 25px 10px 25px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid #c2c2c2;
    cursor: pointer;
    color: #c2c2c2;
    background: #fff;
}
.reg-active{
    border: 2px solid #f2b44a;
    color: #f2b44a;
}
.reg-form-option{
    float: left;
    width: 50%;
    text-align: center;
}
.reg-form-button{
    padding: 10px 25px 10px 25px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid #f2b44a;
    cursor: pointer;
    color: #f2b44a;
}
.reg-registration, .reg-password{
    display: none;
}

#private-registration{
    float: left;
    width: 100%;
    margin-top: 55px;
    margin-bottom: 150px;
}
.nav-active{
    color: #2b2a2a;
}
.private-reg-row{
    float: left;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
}
.private-reg-row input{
    font-size: 18px;
    outline: none;
    border: none;
    margin-top: 15px;
    font-family: "Arial", Helvetica, sans-serif;
    border-bottom: 2px solid #c2c2c2;
    background: #fff;
    width: 80%;
}
.private-reg-row input[type="text"]{
    color: #766f6f;
}
.private-reg-row input[type="text"]:focus {
  color: #2b2a2a;
  border-bottom: 2px solid #2b2a2a;
}